<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
<a class="back" href="/">Back</a>
    <div class="hero">
        <div class="head">
            <h1><%= monkey.name %></h1>
            <img class="pic" src="/images/<%= monkey.image %>">
        </div>
    <ul>
        <h2>Cost $<%= monkey.cost %></h2>
        <h2>Desc: <%= monkey.description %></h2>
    </ul>
    </div>
</body>
</html>